.footer-top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  margin-top: 100px;
  margin-left: 200px;
  gap: 100px;
}
.footer-subscribe {
  max-width: 400px;
  font-size: 13px;
}
.footer-subscribe h4{
  font-size: 18px;
}
.footer-subscribe p{
  color: rgba(114, 114, 114, 1);
}
.footer-subscribe form {
  display: flex;
  margin-bottom: 10px;
  width: 354px;
  height: 40px;
}
.footer-subscribe input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.footer-subscribe button {
  background: #46a358;
  color: white;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
#plant ,#watering{
  border-left:1px solid rgb(192, 192, 192);
  padding:0 30px;
}
.footer-midle{
  display: flex;
  align-items: center;
  margin: 50px 190px;
  width: 1400px;
  height: 88px;
  border-top: 1px solid rgb(149, 189, 157);
  border-bottom: 1px solid rgb(149, 189, 157);
  background-color: #46a35925;
}
.footer-midle div {
  padding-right: 150px;
  font-size: 14px;
}
#Location{
  width: 176px;
  height: 44px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;        
  flex-wrap: wrap;               
  gap: 20px;                    
}
.footer-col {
  min-width: 150px;               
}
.footer_links_ct {
  display: flex;
  gap:250px ;
  margin-left: 220px;
  border-bottom: 1px solid #46a35979  ;  
 margin-bottom: 10px;
 width: 1300px;
}
.footer_links_ct a{
  text-decoration: none;
  color: #3D3D3D;
}
.footer_links_ct ul{
  list-style-type: none;
}
.myAccount ul , .helpGuide ul , .Categories ul{
  margin-left: -40px;
}
.myAccount li , .helpGuide li , .Categories li {
  padding-top: 20px;
}
.links-images{
  border: 2px solid #46a35950;
  padding: 5px 10px;
  border-radius: 10px;
}
.Social-imges {
  padding-bottom: 50px;
}
.pinter img{
  margin-left: -25px;
  margin-bottom: -5px;
}
.pinter2 img {
  margin-left: -25px;
  margin-bottom: -15px;
}
.footer-copy{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3D3D3D;
  font-size: 14px;
  margin-left: -75px;
}