@import url("styles/reset.css");
@import url("styles/footer.css");
@import url("styles/product.css");
@import url("styles/fonts.css");
@import url("styles/header-nav.css");


body{
    font-family: "CeraPro", sans-serif ;
}
.container1 {
  max-width: 1400px;
  height: 450px;
  margin: 100px auto 200px 0;
  display: block;
  padding-top: 20px;
}
.main_imges_plant{
margin-left: 1100px;
margin-top: -485px;
}
#Small {
  margin-top: -700px;
  margin-left: 1150px;
}
.main_text_wellcom{
  width: 500px;
  margin-left: 300px;
  margin-top: 50px;
}
#h4main{
  padding-bottom: 20px;
}
.main_text_wellcom p{
font-size: 14px;
color: #727272;
font-weight: 400;
width: 557px;
}
#tach_me a{
  text-decoration: none;
  margin-top: 300px;
  margin-left: 300px;
  border: 1px solid #46A358;
  background-color: #46A358;
  padding: 10px 20px ;
  border-radius: 10px;
  white-space: nowrap;
  color: white;
}
#tach_me{
  margin-top: 50px;
}
#Group4{
  margin-left: 880px;
  margin-top: 50px;
}
.main_group{
  margin-top: -200px;
  margin-left: 230px;
}
.main_text_wellcom span{
  color:#46A358 ;
}
.container2 {
  display: flex;
  width: 1450px;
    justify-content:flex-end;

    align-items: center;
}
.main_text_short {
  display: flex;
  gap: 40px;
  white-space: nowrap;
}
#Short {
    padding-left: 350px;
    line-height: 15px;
}
.ul_categories1{
  margin-left: 50px;
}
.Categories1 ul{
  list-style-type: none;
}
.Categories1 li{
  padding-top: 20px;
}
.ul_categories2{
  margin-left:280px;
  margin-top: -360px;
    line-height: 20px;
}
.ul_categories3{
  margin-left: 50px;
  margin-top: 0;
    padding-bottom: 30px;
}
.ul_categories4{
  margin-left:280px;
  margin-top: -150px;
    padding-bottom: 30px;
}
.ul_categories2 li:first-child ,.ul_categories1 li:first-child {
	color: #46A358;
  font-weight: bold;
}
#prise{
  padding: 50px;
  margin-top: 0;
}
#text_short_first{
  color:#46A358 ;
  border-bottom: 2px solid #46A358 ;
  font-weight: bold;
  padding-bottom: 5px;
}


aside {
  width: 310px;
  flex-shrink: 0;
  margin-left: 200px;
}
.main_group {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.swap img {
height: 250px;
}
.border_flowers{
  border-top: 1px solid  #46A358;
  width: 300px;
  border-radius: 0;
}
#Rectangle2{
  height: 250px;
}
.border_flowers img{
height: 250px;
}
.PageNumber {
  display: flex;
  gap: 10px;
  margin-left: 1300px;
  margin-top: 50px;
}
.PageNumber a:first-child {
  color: #ffffff;
  background-color: #46A358;
  border: 1px solid  #46A358;
  border-radius: 5px;
}
.PageNumber a {
  text-decoration: none;
  color: #020202;
  background-color: #ffffff;
  border: 1px solid     #c5c5c5ad;
  padding: 5px 12px;
  border-radius: 5px;
}
.Flower_together{
  display: flex;
  margin-left: 250px;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 200px;
}
.Flowers_number1 img ,.Flowers_number2 img{
  height: 300px;
}
.text_flowers1 , .text_flowers2{
  margin-left: 300px;
  margin-top: -250px;
  text-align: right;
}
.text_flowers1 h3 , .text_flowers2 h3{
  font-size: 18px;
  width: 150px;
  margin-left: 150px;
}
.text_flowers1 p , .text_flowers2 p{
  font-size: 14px;
  width: 292px;
  color: #727272;
  margin-bottom: 30px;
}
.text_flowers1 a , .text_flowers2 a{
padding: 10px 20px ;
background-color: #46A358;
border-radius: 10px;
white-space: nowrap;
width: 50px;
text-decoration: none;
color: white;
}
.text_flowers1 img, .text_flowers2 img{
  width: 18px;
  height: 18px;
  margin-bottom: -4px;
  margin-left: -2px;
}
.Blogs_section{
  display: flex;
  gap: 50px;
  margin-left: 300px;
}
.text_head{
  margin-left: 600px;
  white-space: nowrap;
  margin-bottom: 60px;
}
.text_head h1{
  margin-left: 180px;
  font-size: 30px;
  font-weight: bold;
}
.text_head p {
 color:#727272 ;
}
.More_info h3{
  font-size: 20px;
}
.More_info p{
    padding: 10px 0;
}
.More_info a {
  text-decoration: none;
  color: #020202;
  font-weight: bold;
}
#a_green{
  color: #46A358;
}
#Arrow-green{
margin-bottom: -3px;
}
.months{
  color: #46A358;
  font-size: 14px;
  font-weight: bold;
}



.Home_link{
    margin: 0 50px 0 250px;
    white-space: nowrap;
    font-size: 15px;
}
.Home_link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px 0 0 200px;
}
.big_images{
    display: flex;
    margin: -400px 0 0 450px;
}
#border{
    border: 1px solid #46A358;
}
#vector{
    width: 15px;
    height: 15px;
}
.text-and-info{
    display: flex;
    gap: 5px;
    margin: -460px 0 500px 1000px;
}
.Text-top h1{
    white-space: nowrap;
}
.slider_stars{
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
    margin:  0 0 0 340px;
}
.slider_stars h4 {
    margin: 0 ;
    font-size: 15px;
    font-weight: 400;
    color: #3D3D3D;
}
.slider_stars img{
    width: 15px;
    height: 15px;

}



.text-and-info h1{
    font-size: 28px;
}
.Text-top p {
    margin: 0 0 -33px 0;
    color: #46A358;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid rgba(70, 163, 88, 0.49);
    padding-bottom: 10px;
}

.text_and_bottoms{

    margin: 110px 0 0 -585px;
}
.text_and_bottom h4{
    white-space: nowrap;
    font-size: 15px;
}

.text_and_bottoms p{
    width: 573px;
    height: 66px;
    color: #727272;
    font-size: 14px;
    line-height: 24px;
}
.side{
    display: flex;
    margin: 300px 0 0 -45px;
    width: 28px;
    height: 28px;
}
.side img {
    width: 28px;
    height: 28px;
}
.side button{
    border: none;
    outline: none;
}
#Side {
    margin: 265px 0 0 -580px;
}
.need_Border{
    border: 1px solid rgba(115, 115, 115, 0.41);
    border-radius: 50%;
}
#green_icon{
    border: 1px solid #46A358;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #46A358;
    width: 11px;
    height: 16px;
    padding: 7px 10px;
}
.slider-preview-product{
    display: flex;
    gap: 10px;
    margin: 350px 0 0 -35px;
    height: 60px;
}
.slider-preview-product p{
    font-size: 20px;
}
.slider-preview-product button{
    border: none;
    outline: none;
}
.info_SKU {
    white-space: nowrap;
    margin: 410px 0 0 -480px;
}
.info_SKU p{
    color: #727272;
    font-size: 15px;
}
.info_SKU img{
    font-size: 15px;
    padding-left: 10px;
}