---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login | GreenShop" description="Login to your GreenShop account." pathname="/login">
  <div class="l-container" style="padding-block: 2rem;">
    <h1>Login</h1>
    <p class="section-heading__text">Use the login modal to continue.</p>
  </div>
</Layout>
