---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Register | GreenShop" description="Create your GreenShop account." pathname="/register">
  <div class="l-container" style="padding-block: 2rem;">
    <h1>Register</h1>
    <p class="section-heading__text">Use the register modal to create your account.</p>
  </div>
</Layout>
