<section class="hero" aria-labelledby="home-hero-title" data-testid="hero-section">
  <div class="l-container">
    <div class="hero__panel">
      <div class="hero__content l-stack">
        <p class="hero__eyebrow">Welcome to GreenShop</p>
        <h1 id="home-hero-title" class="hero__title">
          Let&apos;s Make a Better <span class="hero__title-accent">Planet</span>
        </h1>
        <p class="hero__desc">
          We are an online plant shop offering a wide range of cheap and trendy plants. Use our
          plants to create an unique Urban Jungle. Order your favorite plants!
        </p>
        <div>
          <a class="c-button" href="/shop">Shop Now</a>
        </div>
      </div>
      <div class="hero__media-wrap">
        <img class="hero__media" src="/assets/figma-all/images/01-1-2-105.png" alt="Decorative potted plants" />
        <img class="hero__media-small" src="/assets/figma-all/images/01-2-3-106.png" alt="Small decorative plant" />
      </div>
    </div>
  </div>
</section>
