<section class="promo" aria-label="Promotions">
  <article class="promo__card">
    <img src="/assets/figma-all/images/image-14-4-428.png" alt="Summer cactus and succulents" width="287" height="292" />
    <div class="promo__content">
      <h3>Summer cactus<br />&amp; succulents</h3>
      <p class="section-heading__text">We are an online plant shop offering a wide range of cheap and trendy plants.</p>
      <a class="c-button" href="/shop">Find More →</a>
    </div>
  </article>
  <article class="promo__card">
    <img src="/assets/figma-all/images/image-15-4-423.png" alt="Styling trends and much more" width="289" height="292" />
    <div class="promo__content">
      <h3>Styling trends<br />&amp; much more</h3>
      <p class="section-heading__text">We are an online plant shop offering a wide range of cheap and trendy plants.</p>
      <a class="c-button" href="/shop">Find More →</a>
    </div>
  </article>
</section>
