.logo{
  margin-top: -5px;
}
.nav_bar{
  gap: 40px;
}
nav a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0 0;
  padding-bottom: 25px;
  font-size: 16px;
  border-bottom: 3px solid transparent;
}
.nav_bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#last_text_nav_bar{
  margin-right: 400px;
}
.img_nav_bar{
  padding: 0 15px;
 margin-top: -10px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cce5cc; 
  padding-top: 20px; 
}
nav a.active {
  border-bottom-color: rgba(70, 163, 88, 1);
  font-weight: bold;
    color: #46A358;
}
#Login{
  margin-bottom: -5px;
}
main{
  width: 400px;
}