.modal , .modal-login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    width: var(--modal-weidght);
    height: var(--modal-height);
    z-index: 1;
    margin: 30px 15px;
    background-color: var(--text-color-white);
    box-shadow: 0 0 17px -7px var(--modal-background-color);
    transform: scale(0);
    transition: transform .8s;
    border-bottom:10px solid var(--primary-color) ;
}
.modal__box-login{
    position: relative;
    width: var(--modal-weidght-login);
    height: var(--modal-height-login);
    z-index: 1;
    margin: 30px 15px;
    background-color: var(--text-color-white);
    box-shadow: 0 0 17px -7px var(--modal-background-color);

    transition: transform .8s;
    border-bottom:10px solid var(--primary-color) ;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
}

.modal__close-btn:hover svg path {
    fill: var(--primary-color) ;
}

.modal__close-btn:active svg path {
    fill: var(--primary-color) ;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}
.modal-img{
display: block;
    margin: calc(var(--container-pading)*3) auto 0 auto;
}
.modal-text__p{
    color: var(--description-color);
    text-align: center;
    font-size: var(--container-font-size);
    padding: 10px;
    border-bottom: 1px solid var(--primary-color-30-procent);
}
.modal-order-details{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: 20px 20px;
    white-space: nowrap;
    border-bottom: 1px solid var(--primary-color-30-procent);
}
.order-border-left{
padding: 0 10px;
    border-left: 1px solid var(--primary-color-30-procent);
}
.modal-order-details__p , .modal-order-details__bold {
    color: var(--secondary-color) ;
}
.modal-order-details__bold{
    font-weight: 700;
    font-size: var(--container-gap);
}
.modal-order-details__p{
    font-size: var(--container-font-size-medium-extra);
}
.sku-modificator{
    white-space: nowrap;

}
.table__modificator--width{
    width: 100%;
}
.modal-text-order{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal-text-title{
    padding: calc(var(--container-pading)*2.5);
}
.modal-title{
    padding: calc(var(--container-pading)*2.5);
}
.layout__spacer{
    width: 350px;
}
.text-fonts{
    font-size: var(--container-font-size);
    font-weight: bold;
    color: var(--secondary-color) ;
}


.product-name__modificator{
    padding: calc(var(--container-pading)*2) 0 0 calc(var(--container-pading)*2.9);
}
.table__modificator__row{
    display: flex;
    justify-content: center;
    width: 550px;
}
.table__modificator--border{
    border-bottom: 1px solid var(--primary-color-30-procent) ;
}
.td__modificator--width-qty{
    width: 80px;
}
.checkout--total__modificator{
    display: flex;
    justify-content: space-between;
    text-align: right;
    width: 500px;
    border-top:unset ;
    padding: var(--container-pading) 0;
}
.order-checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    padding:  var(--container-pading) calc(var(--container-pading)*2);
}
.checkout-total-label__modificator{
    padding: 0 calc(var(--container-padded-size)) ;
}
.checkout-total-value__modificator{
    font-size: var(--container-font-size-bold);
    color: var(--secondary-color) ;
    font-weight: bold;
}
.checkout__total__modificator{
    font-size: var(--container-font-size);
    color: var(--secondary-color) ;
    font-weight: 700;
}
.checkout__total-value_modificator{
    font-weight: 700;
    padding: 0 var(--container-pading) 0 0;
}
.checkout--total__border{
    border-bottom: 1px solid var(--primary-color-50-procent);
}
.checkout-total-value__modificator{
    padding: 0 var(--container-pading) 0 0;
}
.order-text-p{
    width:var(--order-text-weight);
    height:var(--order-text-height) ;
    text-align: center;
    margin: 0 auto;
    font-size: var(--container-font-size-medium-extra);
    color: var(--description-color);
    padding: var(--container-pading) 0;
}
.track-btn{
    display: flex;
   margin: calc(var(--container-pading)*3) auto calc(var(--container-pading)*2) auto;
    text-decoration: none;
    width: var(--order-checkout-link-weight);
    height: var(--order-checkout-link-height);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: var(--container-font-size-small) calc(var(--container-pading)* 2) 0 calc(var(--container-pading)* 2);
    border-radius: calc(var(--container-pading) / 1.5);
    white-space: nowrap;
    color: var(--text-color-white);
    font-size: var(--container-font-size);
}
.modal__box-login-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: calc(var(--container-pading)*4.5) auto;
}
.modal__box-login-form__text{
    font-size: var(--container-font-size-bold-max);
    border: unset ;
    font-family: "CeraPro", sans-serif;

}
.modal__box-login-form__text:first-child{
    color: var(--primary-color) ;
    font-weight: bold;
}
.modal__box-login-form__text:last-child{
    font-weight: bold;
    color: var(--secondary-color) ;
}
.modal__box-login-form__center{
    font-size: var(--container-font-size-bold);
    font-weight: 250;
    color: var(--secondary-color)
}
.modal__box-login-form-text__modification{
    white-space: nowrap;
    font-weight: 400;
    font-size: var(--container-font-size-small-extra);
    width: 266px;
    color: var(--secondary-color) ;
}
.modal__box-login-form__modification{
    justify-content: center;
    margin-bottom: var(--container-pading);
}

.form__group {
    display: flex;
    justify-content: center;
    margin:0 0 var(--container-font-size) 0;
}

.form__label {
    display: block;
    position: relative;
}

.form__input {
    width: calc(var(--container-padded-size)*3);
    padding: var( --container-font-size-small) calc(var(--container-pading)*4) var( --container-font-size-small) var( --container-font-size-small);

    border-radius: calc(var(--container-font-size-small)/2);
    font-size: var(--container-font-size-medium-extra);
}

.form__icon {
    position: absolute;
    right: var(--container-font-size-small);
    transform: translateY(-50%);
    width: calc(var(--container-pading)*2);
    height: calc(var(--container-pading)*2);
    cursor: pointer;
     fill: var(--imput-color);
}

.form__btn {

    width: calc(var(--container-padded-size)*3);
    margin: 0 auto;
    padding: var(--container-font-size-small);
    border: none;
    border-radius: calc(var(--container-font-size-small)/2);
    background-color: var(--primary-color);
    color: var(--imput-color);
    font-size: var( --container-font-size);
    cursor: pointer;
    font-weight: bold;
}


.field {
    position: relative;
}

.field__input {

    height: calc(var(--container-pading)*4);
    width: calc(var(--container-padded-size)*3);
    font-size: 14px;

}

.field__icon {
    position: absolute;
    right:110px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.field__link{
    display: flex;
    justify-content: right;
    width: calc(var(--container-padded-size)*4);
    color: var(--primary-color);
    padding: 0 0 calc(var(--container-pading)*3) 0;
}
.login-or{
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--container-font-size-small-extra);
    width: calc(var(--container-padded-size)*3);;
    padding: calc(var(--container-pading)*3) 0 calc(var(--container-pading)*3) 0;
}


.login-or::before,
.login-or::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--secondary-background);
}

.login-or:not(:empty)::before {
    margin-right: 0.75em;
}

.login-or:not(:empty)::after {
    margin-left: 0.75em;
}
.form__input , .field__input{
    border: 2px solid var(--secondary-background);
    border-radius: 6px;
    padding: 10px;
    outline: none;
    transition: border 0.3s ease;
}
.form__input:focus ,.field__input:focus {
    border: 2px solid green;
}
.form__btn-modification{
    background-color: var(--text-color-white) ;
    border: 1px solid var(--secondary-background) ;
    color: var(--description-color) ;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--container-font-size-small-extra);
    height: calc(var(--container-pading)*4);
}
.form__btn-modification span{
    padding: 0 10px;
}
.modal__box-login__modification{
    height: var(--modal-height-register);
}
.modal__box-login-form__text-modification:first-child{
    color: var(--secondary-color) ;
    font-weight: bold;
}
.modal__box-login-form__text-modification:last-child{
    font-weight: bold;
    color: var(--primary-color) ;
}
.form__group-padding{
    margin: calc(var(--container-pading)*4.5) 0 0 0;
}
