:root {
    --primary-color: #46A358;
    --primary-color-50-procent: rgba(70, 163, 88, 0.5);
    --primary-color-30-procent: rgba(70, 163, 88, 0.3);
    --secondary-color: #3D3D3D;
    --text-color-black: black;
    --text-color-white: white;
    --tertiary-color: #CBCBCB;
    --description-color: #727272;
    --place-holder-color: #A5A5A5;
    --warning-color: #F03800;
    --moz-border-bottom-colors: #cce5cc;
    --imput-color: #EAEAEA;

    --modal-background-color: rgba(34, 60, 80, 0.2);
    --primary-background: #FBFBFB;
    --secondary-background: #CBCBCB;

    --container-size: 1400px;
    --container-size-modification:1800px;
    --container-pading: 10px;
    --container-padded-size: 100px;
    --container-gap: 15px;
    --container-font-size: 16px;
    --container-font-size--medium: 17px;
    --container-font-size-bold: 18px;
    --container-font-size-bold-max: 20px;
    --container-font-size-small: 12px;
    --container-font-size-small-extra: 13px;
    --container-font-size-medium-extra: 14px;
    --container-weight:650px;
    --container-weight-medium:950px ;
    --modal-weidght:578px;
    --modal-height:850px;
    --modal-weidght-login:500px;
    --modal-height-login:600px;
    --order-text-weight:483px;
    --order-text-height:46px;
    --order-checkout-link-weight:162px;
    --order-checkout-link-height:45px;
}

