:root {
    --primary-color: rgb(70, 163, 88);
    --secondary-color: #3D3D3D;
    --text-color-black: black;
    --text-color-white: white;
    --tertiary-color: #CBCBCB;
    --description-color: #727272;
    --place-holder-color: #A5A5A5;
    --warning-color: #F03800;
    --moz-border-bottom-colors: #cce5cc;

    --primary-background: #FBFBFB;
    --secondary-background: #CBCBCB;

    --container-size: 1500px;
    --container-pading: 10px;
    --container-gap: 15px;
    --container-font-size: 16px;
    --container-font-size--medium: 17px;
    --container-font-size-bold: 18px;
    --container-font-size-small: 12px;
    --container-weight:650px;
    --container-weight-medium:950px ;
}

